C = '.Loading'
_delay = 2s

CName = replace('\.', '', C)
opts = {
  color: $first
  bgColor: #ebebeb
  size: 24px
}

{C}
  animation (CName + '-spin') 1.2s infinite linear, (CName + '-opacity') 0.5s _delay linear
  animation-fill-mode forwards
  border: 2px solid opts.color
  border-left-color: opts.bgColor
  border-top-color: opts.bgColor
  border-radius 50%
  display inline-block
  width: opts.size
  height @width
  opacity 0
  &.-instant
    animation (CName + '-spin') 1.2s infinite linear, (CName + '-opacity') 0.5s linear

@keyframes {CName}-spin
  0%
    transform rotate(0deg)
  100%
    transform rotate(360deg)

@keyframes {CName}-opacity
  0%
    opacity 0
  60%
    opacity 0
  100%
    opacity 1
