// -----------------------------------------------------------------------------
//   Base styles
// -----------------------------------------------------------------------------

// Import custom here
//@import url('https://fonts.googleapis.com/css?family=Cousine:700')

*
  padding 0
  margin 0
  &, &:before, &:after
    box-sizing border-box

html
  optimizations()
  color $main
  font-size font()
  line-height line()
  background-color white

html, button, input, textarea, select
  font-family $fontNormal

// Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
//
// In particular, unlike most other browsers, IE11+Edge on Windows 10 on touch devices and IE Mobile 10-11
// DON'T remove the click delay when `<meta name="viewport" content="width=device-width">` is present.
// However, they DO support removing the click delay via `touch-action: manipulation`.
// See:
// * http://v4-alpha.getbootstrap.com/content/reboot/#click-delay-optimization-for-touch
// * http://caniuse.com/#feat=css-touch-action
// * http://patrickhlauke.github.io/touch/tests/results/#suppressing-300ms-delay
// SOURCE: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss#L241

a
area
button
[role="button"]
input
label
select
summary
textarea
  touch-action manipulation

label
  user-select none
