// -----------------------------------------------------------------------------
//   Gray Palette
// -----------------------------------------------------------------------------

$black        ?= #000

// texts / forms / icons
$blackGray    ?= #2e2e42
$darkGray     ?= #404053
$mediumGray   ?= #636372
$gray         ?= #75787B

// backgrounds
$lightGray    ?= #eeeeee
$lightGray2   ?= #d0d0ce
$whiteGray    ?= #F5F5F5 // rgba($lightGray, 0.5)

$white        ?= #fff

$darkDeep   ?= #454545
$darkMedium ?= #575757
$darkBlack  ?= #000

// -----------------------------------------------------------------------------
//   Primary Palette
// -----------------------------------------------------------------------------

$blue         ?= #00a2e0
$lightBlue    ?= #c6efff //#d9f1fb

$red          ?= #DB504B
$lightRed     ?= #fadada

$green        ?= #86bc25
$lightGreen   ?= #B2D97B

$teal         ?= #70c2b4
$mediumTeal   ?= #b4e1d2
$lightTeal    ?= #ddefe8
