U-shadow()
  box-shadow 0 2px 0 0 $shadow

U-strong()
  font-weight 600

U-small()
  font-size font(s)
  font-weight 600
  color $secondary

U-bleed(width)
  padding-left width
  padding-right width
  margin-left (- width)
  margin-right (- width)

U-center()
  text-align center

$U-navItem-height = 50px
U-navItem()
  display flex
  align-items center
  height $U-navItem-height
  padding-left gutter()
  text-decoration none
  font-size font(s)
  font-weight bold

$U-navHeader-color = #b2b2b2
U-navHeader()
  U-navItem()
  text-transform uppercase
  color $U-navHeader-color

U-gutter(size = m)
  margin-left gutter(size)
  margin-right @margin-left

U-gutterTop(size = m)
  margin-top gutter(size)

U-row()
  display flex

U-col()
  flex 1

U-flexCenter()
  display flex
  align-items center

U-bgWhite()
  background-color white

U-padding()
  padding gutter(s) gutter()
